easybill/SDK/assets/soap.document.xsd

<?xml version='1.0' encoding='UTF-8'?>

<xsd:schema xmlns:document="http://www.easybill.de/webservice/document/"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:commons="http://www.easybill.de/webservice/commons/"
            xmlns:customer="http://www.easybill.de/webservice/customer/"
            targetNamespace="http://www.easybill.de/webservice/document/"
            version="1.0">

    <xsd:import namespace="http://www.easybill.de/webservice/commons/" schemaLocation="soap.commons.xsd"/>
    <xsd:import namespace="http://www.easybill.de/webservice/customer/" schemaLocation="soap.customer.xsd"/>

    <!-- Faults -->
    <xsd:element name="DocumentPositionNotFoundFault" type="document:DocumentPositionFaultType"/>
    <xsd:complexType name="DocumentPositionFaultType">
        <xsd:sequence/>
    </xsd:complexType>

    <xsd:element name="DocumentNotFoundFault" type="document:DocumentNotFoundFaultType"/>
    <xsd:complexType name="DocumentNotFoundFaultType">
        <xsd:sequence>
            <xsd:element name="documentID" type="xsd:unsignedLong"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- DATA -->

    <xsd:complexType name="documentpositiontype">
        <xsd:sequence>
            <xsd:element name="positionType" minOccurs="1" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="POSITION">
                            <xsd:annotation>
                                <xsd:documentation>Eine Rechnungsposition einfügen</xsd:documentation>
                            </xsd:annotation>
                        </xsd:enumeration>
                        <xsd:enumeration value="TEXT">
                            <xsd:annotation>
                                <xsd:documentation>Einen allgemeinen Text einfügen (dies ist keine Rechnungsposition)</xsd:documentation>
                            </xsd:annotation>
                        </xsd:enumeration>
                        <xsd:enumeration value="POSITION_NOCALC">
                            <xsd:annotation>
                                <xsd:documentation>Eine Rechnungsposition einfügen (alternativ Posten der nicht berechnet wird)</xsd:documentation>
                            </xsd:annotation>
                        </xsd:enumeration>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="itemNumber" minOccurs="0" maxOccurs="1" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>Nummer der Rechnungsposition (siehe Companyposition->itemNumber)</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                        <xsd:minLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="itemDescription" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Beschreibung der Rechnungsposition (siehe Companyposition->itemDescription)</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1000"/>
                        <xsd:minLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="count" minOccurs="1" maxOccurs="1" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>Menge der Rechnungsposition (siehe Companyposition->count)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="unit" minOccurs="1" maxOccurs="1" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>Bezeichnung der Einheit (siehe Companyposition->unit)</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="1"/>
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="singlePriceNetto" minOccurs="1" maxOccurs="1" type="xsd:float" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>Verkaufspreis netto in kleinster Einheit ihrer Währung (z.B. cent bei Euro )</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ustPercent" minOccurs="1" maxOccurs="1" type="xsd:float" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>Umsatzsteuerprozentwert</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="discount" minOccurs="0" maxOccurs="1" type="xsd:float" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>Feldwert für Diskont. Art des Rabatts erklärt sich aus discountType.
                        Beträge in einer Währung müssen in der kleinsten Einheit sein (z.B. Cent bei Euro)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="discountType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Art des Diskount (Betrag oder Prozent)</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="AMOUNT">
                            <xsd:annotation>
                                <xsd:documentation></xsd:documentation>
                            </xsd:annotation>
                        </xsd:enumeration>
                        <xsd:enumeration value="PERCENT">
                            <xsd:annotation>
                                <xsd:documentation></xsd:documentation>
                            </xsd:annotation>
                        </xsd:enumeration>
                        <xsd:enumeration value="QUANTITY">
                            <xsd:annotation>
                                <xsd:documentation></xsd:documentation>
                            </xsd:annotation>
                        </xsd:enumeration>
                        <xsd:enumeration value="FIX">
                            <xsd:annotation>
                                <xsd:documentation></xsd:documentation>
                            </xsd:annotation>
                        </xsd:enumeration>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="companyPositionID" type="xsd:unsignedLong" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Referenz auf eine Ihrer Rechnungsposten (companyPosition)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="exportID" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>FiBu Konto</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="exportCost1" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>Kostenstelle 1</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="exportCost2" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>Kostenstelle 2</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="costPrice" minOccurs="0" maxOccurs="1" type="xsd:float" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>Einkaufspreis netto in kleinster Einheit ihrer Währung (z.B. cent bei Euro )</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="documentdescriptiontype">
        <xsd:sequence>
            <xsd:element name="documentType" minOccurs="0" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="INVOICE">
                            <xsd:annotation>
                                <xsd:documentation>Rechnung</xsd:documentation>
                            </xsd:annotation>
                        </xsd:enumeration>
                        <xsd:enumeration value="OFFER">
                            <xsd:annotation>
                                <xsd:documentation>Angebot</xsd:documentation>
                            </xsd:annotation>
                        </xsd:enumeration>
                        <xsd:enumeration value="CREDIT">
                            <xsd:annotation>
                                <xsd:documentation>Gutschrift</xsd:documentation>
                            </xsd:annotation>
                        </xsd:enumeration>
                        <xsd:enumeration value="CHARGE">
                            <xsd:annotation>
                                <xsd:documentation>Auftrag</xsd:documentation>
                            </xsd:annotation>
                        </xsd:enumeration>
                        <xsd:enumeration value="DELIVERY">
                            <xsd:annotation>
                                <xsd:documentation>Lieferschein</xsd:documentation>
                            </xsd:annotation>
                        </xsd:enumeration>
                        <xsd:enumeration value="ORDER">
                            <xsd:annotation>
                                <xsd:documentation>Bestellung</xsd:documentation>
                            </xsd:annotation>
                        </xsd:enumeration>
                        <xsd:enumeration value="REMINDER">
                            <xsd:annotation>
                                <xsd:documentation>Erinnerung</xsd:documentation>
                            </xsd:annotation>
                        </xsd:enumeration>
                        <xsd:enumeration value="DUNNING">
                            <xsd:annotation>
                                <xsd:documentation>Mahnung</xsd:documentation>
                            </xsd:annotation>
                        </xsd:enumeration>
                        <xsd:enumeration value="STORNO">
                            <xsd:annotation>
                                <xsd:documentation>Storno</xsd:documentation>
                            </xsd:annotation>
                        </xsd:enumeration>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="documentID" type="xsd:unsignedLong" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Die DocumentID ermöglich die eindeutige Identifikation des Dokumentes. Sie wird nicht beim erstellen eines Dokumentes benötigt</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="customerID" type="xsd:unsignedLong" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>CustomerID (nicht CustomerNumber) des Kunden, für den die Rechnung erstellt wird.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="currency" type="xsd:string" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Standardisiert nach ISO 4217</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="textPrefix" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Text im oberen Teil der Rechnung</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="text" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Text im unteren Teil der Rechnung, neben Summenblock</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="contactLabel" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Kontaktinformation (Beschriftung)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="contactText" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Kontaktinformation (Inhalt)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="documentPosition" type="document:documentpositiontype" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="taxOptions" minOccurs="0" maxOccurs="1" nillable="true" type="commons:taxOptionsType"/>
            <xsd:element name="documentDate" minOccurs="0" maxOccurs="1" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>Dokumentendatum (Unix-Timestamp)</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:long"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="created" minOccurs="1" maxOccurs="1" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>Dokument geändert (Unix-Timestamp)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="edited" minOccurs="1" maxOccurs="1" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>Dokument geändert (Unix-Timestamp)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="serviceDate" minOccurs="0" maxOccurs="1" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>Leistungsdatum
                        (falls nicht angegen, erfolgt die Standardanzeige)
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="1"/>
                        <xsd:maxLength value="100"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="documentNumber" minOccurs="0" maxOccurs="1" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>Dokumentennummer
                        (falls nicht angegen, erfolgt die Standardanzeige)
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="1"/>
                        <xsd:maxLength value="100"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="documentTitle" minOccurs="0" maxOccurs="1" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>Dokumententitel</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="1"/>
                        <xsd:maxLength value="80"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="cashAllowance" minOccurs="0" maxOccurs="1" nillable="true" type="xsd:float">
                <xsd:annotation>
                    <xsd:documentation>Skonto als Prozentwert
                        (falls nicht angegen, erfolgt die Standardanzeige; Voreinstellung Kunde/Unternehmen)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="cashAllowanceDays" minOccurs="0" maxOccurs="1" nillable="true" type="xsd:unsignedShort">
                <xsd:annotation>
                    <xsd:documentation>Tage in denen der Skonto aktiv ist
                        (falls nicht angegen, erfolgt die Standardanzeige; Voreinstellung Kunde/Unternehmen)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="cashDiscount" minOccurs="0" maxOccurs="1" nillable="true" type="xsd:float">
                <xsd:annotation>
                    <xsd:documentation>Rabatt (Prozent oder Betrag abhängig vom Eintrag in 'cashdiscounttype')</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="cashDiscountType" minOccurs="0" maxOccurs="1" nillable="true">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="PERCENT">
                            <xsd:annotation>
                                <xsd:documentation>Nicht steuerbar (Drittland)</xsd:documentation>
                            </xsd:annotation>
                        </xsd:enumeration>
                        <xsd:enumeration value="AMOUNT">
                            <xsd:annotation>
                                <xsd:documentation>Nicht steuerbar (EU mit UStID-Nr.)</xsd:documentation>
                            </xsd:annotation>
                        </xsd:enumeration>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="gracePeriod" minOccurs="0" maxOccurs="1" nillable="true" type="xsd:unsignedShort">
                <xsd:annotation>
                    <xsd:documentation>Zahlungsziel (Tage)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="amount" minOccurs="1" maxOccurs="1" type="xsd:float" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>Rechnungsbetrag</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="amountNetto" minOccurs="1" maxOccurs="1" type="xsd:float" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>Rechnungsbetrag (netto)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="bankTransfer" minOccurs="0" maxOccurs="1" nillable="true">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="DE">
                            <xsd:annotation>
                                <xsd:documentation>Überweisungsträger</xsd:documentation>
                            </xsd:annotation>
                        </xsd:enumeration>
                        <xsd:enumeration value="EU">
                            <xsd:annotation>
                                <xsd:documentation>Überweisungsträger (EU)</xsd:documentation>
                            </xsd:annotation>
                        </xsd:enumeration>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>

            <xsd:element name="refID" minOccurs="0" maxOccurs="1" type="xsd:unsignedLong" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>Referenzdokument</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="stornoID" minOccurs="0" maxOccurs="1" type="xsd:unsignedLong" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>Verweis auf das Dokument welches die Stornierung beinhaltet. Nur gefüllt falls Dokument storniert.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>


        </xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="CreateDocumentType">
        <xsd:complexContent>
            <xsd:extension base="document:documentdescriptiontype">
                <xsd:sequence>
                    <xsd:element name="signDocument" minOccurs="0" maxOccurs="1" nillable="true" type="xsd:boolean">
                        <xsd:annotation>
                            <xsd:documentation>Dokument mit einer qualifizierten digitalen Signatur versehen.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="sendasemail" minOccurs="0" maxOccurs="1" nillable="true" type="xsd:boolean">
                        <xsd:annotation>
                            <xsd:documentation>Versende das Dokument als E-Mail an den Kunden.
                                Dies setzt voraus dass der Kunde eine E-Mail Adresse hat.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="emailSubject" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>E-Mail Betreff</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="emailText" type="xsd:string" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>E-Mail Text</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="sendaspost" minOccurs="0" maxOccurs="1" nillable="true" type="xsd:boolean">
                        <xsd:annotation>
                            <xsd:documentation>Versende das Dokument per Post an den Kunden.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="sendbyself" minOccurs="0" maxOccurs="1" nillable="true" type="xsd:boolean">
                        <xsd:annotation>
                            <xsd:documentation>Dokument selber versendet.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="templateName" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true">
                        <xsd:annotation>
                            <xsd:documentation>Name der Druckvorlage</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="templateTextTakeOver" type="xsd:boolean" minOccurs="0" maxOccurs="1" nillable="true" default="false">
                        <xsd:annotation>
                            <xsd:documentation>Texte aus der Dokumentenvorlage werden nicht automatisch übernommen. Mit dieser Option können Sie diesen Vorgang aktivieren.
                                Sind in der Dokumentenvorlage Text vorhanden aber im 'CreateDocumentType' nicht, dann werden die Texte aus der Vorlage entnommen die im 'CreateDocumentType' fehlen.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="suppressResponsePDF" minOccurs="0" maxOccurs="1" nillable="true" type="xsd:boolean">
                        <xsd:annotation>
                            <xsd:documentation>PDF nicht zurücksenden (Netzwerkresourcen sparen)</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="CreateDocumentRequest" type="document:CreateDocumentType"/>

    <xsd:complexType name="documentcreatedtype">
        <xsd:sequence>
            <xsd:element name="fileName" type="xsd:string" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Name der Datei</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="file" type="xsd:base64Binary" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Base64 gepackter Dateiinhalt</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="signDocument" type="xsd:boolean" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Rückmeldung ob das Dokument signiert wurde</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="signexception" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Rückmeldung, falls ein Fehler beim signieren aufgetreten ist.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="sentasemail" type="xsd:boolean" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Rückmeldung ob das Dokument in E-Mail Queue eingefügt wurde</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="emailsendexception" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Rückmeldung, falls ein Fehler beim versenden aufgetreten ist.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="sentaspost" type="xsd:boolean" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Rückmeldung ob das Dokument in Post Queue eingefügt wurde</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="postsendexception" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Rückmeldung, falls ein Fehler beim versenden aufgetreten ist.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="document" type="document:documentdescriptiontype" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Gibt die Details einer Rechnung in maschinenlesbarer Form zurück</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="CreateDocumentResponse" type="document:documentcreatedtype"/>


    <!-- Reminder -->
    <xsd:complexType name="createReminderType">
        <xsd:sequence>
            <xsd:element name="invoiceId" minOccurs="1" maxOccurs="1" nillable="false" type="xsd:unsignedLong">
                <xsd:annotation>
                    <xsd:documentation>Rechnungs-Id für die die Mahnung genieriert werden soll</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="textPrefix" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Text im oberen Teil der Rechnung</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="text" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Text im unteren Teil der Rechnung, neben Summenblock</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="contactLabel" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Kontaktinformation (Beschriftung)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="contactText" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Kontaktinformation (Inhalt)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="signDocument" minOccurs="0" maxOccurs="1" nillable="true" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Dokument mit einer qualifizierten digitalen Signatur versehen.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="sendasemail" minOccurs="0" maxOccurs="1" nillable="true" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Versende das Dokument als E-Mail an den Kunden.
                        Dies setzt voraus dass der Kunde eine E-Mail Adresse hat.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="emailSubject" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>E-Mail Betreff</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="emailText" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>E-Mail Text</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="sendaspost" minOccurs="0" maxOccurs="1" nillable="true" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Versende das Dokument per Post an den Kunden.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="sendbyself" minOccurs="0" maxOccurs="1" nillable="true" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Dokument selber versendet.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="templateName" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>Name der Druckvorlage</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="suppressResponsePDF" minOccurs="0" maxOccurs="1" nillable="true" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>PDF nicht zurücksenden (Netzwerkresourcen sparen)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="CreateReminderRequest" type="document:createReminderType"/>
    <xsd:element name="CreateReminderResponse" type="document:documentcreatedtype"/>

    <xsd:element name="CreateDunningRequest" type="document:createReminderType"/>
    <xsd:element name="CreateDunningResponse" type="document:documentcreatedtype"/>

    <!-- Get document -->
    <xsd:complexType name="GetDocumentType">
        <xsd:complexContent>
            <xsd:extension base="document:documentdescriptiontype">
                <xsd:sequence>
                    <xsd:element name="payed" minOccurs="0" maxOccurs="1" default="false" nillable="true" type="xsd:boolean">
                        <xsd:annotation>
                            <xsd:documentation>Ist die Rechnung bezahlt</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="customer" type="customer:customertype"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <!-- Ausbau 2; Abfrage aller Dokumente eines Kunden -->
    <!-- Ausbau 3; Status und Zeitbereich - Kunde optional -->
    <!-- Ausbau 4; Aufnahme von stornierten Dokumenten -->
    <xsd:complexType name="GetDocumentsRequestType">
        <xsd:sequence>
            <xsd:element name="CustomerId" type="xsd:unsignedLong" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Nur für diesen Kunden</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:choice>
                <xsd:element name="StatusType" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:documentation>Nur dieser Status</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="DUE">
                                <xsd:annotation>
                                    <xsd:documentation>Die Rechnung ist fällig, unabhängig von Zahlungseingang</xsd:documentation>
                                </xsd:annotation>
                            </xsd:enumeration>
                            <xsd:enumeration value="DUE_NOT_PAYED">
                                <xsd:annotation>
                                    <xsd:documentation>Die Rechnung ist fällig aber noch nicht bezahlt</xsd:documentation>
                                </xsd:annotation>
                            </xsd:enumeration>
                            <xsd:enumeration value="PAYED">
                                <xsd:annotation>
                                    <xsd:documentation>Die Rechnung wurde bezahlt</xsd:documentation>
                                </xsd:annotation>
                            </xsd:enumeration>
                            <xsd:enumeration value="OPEN">
                                <xsd:annotation>
                                    <xsd:documentation>Die Rechnung ist noch nicht fällig und noch nicht bezahlt</xsd:documentation>
                                </xsd:annotation>
                            </xsd:enumeration>
                            <xsd:enumeration value="OFFERS_OPEN">
                                <xsd:annotation>
                                    <xsd:documentation>Angebote die erstellt wurden aber noch nicht beauftragt sind</xsd:documentation>
                                </xsd:annotation>
                            </xsd:enumeration>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="DocumentType" minOccurs="0" maxOccurs="1">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="INVOICE">
                                <xsd:annotation>
                                    <xsd:documentation>Rechnung</xsd:documentation>
                                </xsd:annotation>
                            </xsd:enumeration>
                            <xsd:enumeration value="OFFER">
                                <xsd:annotation>
                                    <xsd:documentation>Angebot</xsd:documentation>
                                </xsd:annotation>
                            </xsd:enumeration>
                            <xsd:enumeration value="CREDIT">
                                <xsd:annotation>
                                    <xsd:documentation>Gutschrift</xsd:documentation>
                                </xsd:annotation>
                            </xsd:enumeration>
                            <xsd:enumeration value="CHARGE">
                                <xsd:annotation>
                                    <xsd:documentation>Auftrag</xsd:documentation>
                                </xsd:annotation>
                            </xsd:enumeration>
                            <xsd:enumeration value="DELIVERY">
                                <xsd:annotation>
                                    <xsd:documentation>Lieferschein</xsd:documentation>
                                </xsd:annotation>
                            </xsd:enumeration>
                            <xsd:enumeration value="ORDER">
                                <xsd:annotation>
                                    <xsd:documentation>Bestellung</xsd:documentation>
                                </xsd:annotation>
                            </xsd:enumeration>
                            <xsd:enumeration value="STORNO">
                                <xsd:annotation>
                                    <xsd:documentation>Storno-Rechnung</xsd:documentation>
                                </xsd:annotation>
                            </xsd:enumeration>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:choice>
            <xsd:element name="LimitPeriod" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Nur Dokumente (Dokumentendatum) innerhalb dieses Zeitraumes suchen</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:attribute name="from" type="xsd:date" use="required"/>
                    <xsd:attribute name="until" type="xsd:date" use="required"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="LimitType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Zeitraumlimit nur für dieses Datum</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="DATE">
                            <xsd:annotation>
                                <xsd:documentation>Dokumentendatum</xsd:documentation>
                            </xsd:annotation>
                        </xsd:enumeration>
                        <xsd:enumeration value="CREATED">
                            <xsd:annotation>
                                <xsd:documentation>Dokument erstellt</xsd:documentation>
                            </xsd:annotation>
                        </xsd:enumeration>
                        <xsd:enumeration value="MODIFIED">
                            <xsd:annotation>
                                <xsd:documentation>Dokument bearbeitet</xsd:documentation>
                            </xsd:annotation>
                        </xsd:enumeration>
                        <xsd:enumeration value="PAID">
                            <xsd:annotation>
                                <xsd:documentation>Dokument bezahlt</xsd:documentation>
                            </xsd:annotation>
                        </xsd:enumeration>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Canceled" type="xsd:boolean" minOccurs="0" maxOccurs="1" default="false">
                <xsd:annotation>
                    <xsd:documentation>Sollen stornierte Dokumente berücksichtigt werden?</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="GetDocumentsResponseType">
        <xsd:sequence>
            <xsd:element name="Document" type="document:GetDocumentType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="GetDocumentsRequest" type="document:GetDocumentsRequestType"/>
    <xsd:element name="GetDocumentsResponse" type="document:GetDocumentsResponseType"/>

    <xsd:element name="GetDocumentRequest" type="xsd:unsignedLong"/>
    <xsd:element name="GetDocumentResponse" type="document:GetDocumentType"/>

    <xsd:element name="FindDocumentsByDocumentNumberRequest" type="xsd:string"/>
    <xsd:element name="FindDocumentsByDocumentNumberResponse" type="document:GetDocumentsResponseType"/>

    <xsd:complexType name="GetDocumentPDFResponseType">
        <xsd:sequence>
            <xsd:element name="file" type="xsd:base64Binary" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Base64 gepackter Dateiinhalt</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="filename" type="xsd:string" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="GetDocumentPDFRequest" type="xsd:unsignedLong">
        <xsd:annotation>
            <xsd:documentation>DocumentId</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="GetDocumentPDFResponse" type="document:GetDocumentPDFResponseType"/>

    <!-- Ausbau 3; payment -->
    <xsd:complexType name="documentpaymenttype">
        <xsd:sequence>
            <xsd:element name="documentID" type="xsd:unsignedLong" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Die DocumentID ermöglich die eindeutige Identifikation des Dokumentes</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="amount" minOccurs="1" maxOccurs="1" type="xsd:float">
                <xsd:annotation>
                    <xsd:documentation>Betrag der bezahlt wurde, in kleinster Einheit ihrer Währung (z.B. cent bei Euro )</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="paymentdate" minOccurs="1" maxOccurs="1" type="xsd:date">
                <xsd:annotation>
                    <xsd:documentation>Zahlungsdatum</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="paymenttype" minOccurs="1" maxOccurs="1" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Zahlungsart</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="notice" minOccurs="0" maxOccurs="1" type="xsd:string" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>allgemeine Information</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="payed" minOccurs="0" maxOccurs="1" type="xsd:boolean" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>Wurde die Rechnung vollständig bezahlt</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="AddDocumentPaymentRequest" type="document:documentpaymenttype"/>
    <xsd:element name="AddDocumentPaymentResponse" type="xsd:boolean"/>

    <xsd:element name="GetDocumentPaymentsRequest" type="xsd:unsignedLong">
        <xsd:annotation>
            <xsd:documentation>Gibt alle Zahlungen eines Dokuments zurück - Anfrage Parameter DokumentId</xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="GetDocumentPaymentsType">
        <xsd:sequence>
            <xsd:element name="Payment" type="document:documentpaymenttype" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="payed" type="xsd:boolean" minOccurs="0" maxOccurs="1" nillable="true"/>
            <xsd:element name="toPay" type="xsd:float" minOccurs="0" maxOccurs="1" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>Betrag der noch zu bezahlen ist, in kleinster Einheit ihrer Währung (z.B. cent bei Euro )</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="GetDocumentPaymentsResponse" type="document:GetDocumentPaymentsType"/>

    <!-- Cancel / Credit / Storno / Gutschrift -->
    <xsd:complexType name="CreditCancelRequestType">
        <xsd:sequence>
            <xsd:element name="documentID" type="xsd:unsignedLong" minOccurs="1" maxOccurs="1" nillable="false">
                <xsd:annotation>
                    <xsd:documentation>Die DocumentID ermöglich die eindeutige Identifikation des Dokumentes.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="emailSubject" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>E-Mail Betreff</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="emailText" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>E-Mail Text</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="sendasemail" minOccurs="0" maxOccurs="1" nillable="true" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Versende das Dokument als E-Mail an den Kunden.
                        Dies setzt voraus dass der Kunde eine E-Mail Adresse hat.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="sendaspost" minOccurs="0" maxOccurs="1" nillable="true" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Versende das Dokument per Post an den Kunden.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="sendbyself" minOccurs="0" maxOccurs="1" nillable="true" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Dokument selber versendet.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

        </xsd:sequence>
    </xsd:complexType>

    <!-- Cancel / Storno -->
    <xsd:element name="ToCancelDocumentRequest" type="document:CreditCancelRequestType"/>
    <xsd:element name="ToCancelDocumentResponse" type="document:GetDocumentType"/>

    <!-- Credit / Gutschrift -->
    <xsd:element name="ToCreditDocumentRequest" type="document:CreditCancelRequestType"/>
    <xsd:element name="ToCreditDocumentResponse" type="document:GetDocumentType"/>

    <xsd:complexType name="DocumentSentType">
        <xsd:annotation>
            <xsd:documentation>Wann wurde das Dokument versendet</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Sent" type="document:DocumentSentItemType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DocumentSentItemType">
        <xsd:annotation>
            <xsd:documentation>Einzelversand des Dokuments</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="sentDate" type="xsd:date" minOccurs="0" maxOccurs="1" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>Versanddatum falls Leer - Versand noch nicht durchgeführt</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="sendType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Versandart</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="EMAIL">
                            <xsd:annotation>
                                <xsd:documentation>Versendet als E-Mail</xsd:documentation>
                            </xsd:annotation>
                        </xsd:enumeration>
                        <xsd:enumeration value="POST">
                            <xsd:annotation>
                                <xsd:documentation>Versendet als Postwurfsendung</xsd:documentation>
                            </xsd:annotation>
                        </xsd:enumeration>
                        <xsd:enumeration value="FAX">
                            <xsd:annotation>
                                <xsd:documentation>Versendet als Fax</xsd:documentation>
                            </xsd:annotation>
                        </xsd:enumeration>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="GetDocumentSentRequest" type="xsd:unsignedLong">
        <xsd:annotation>
            <xsd:documentation>Gibt alle Versandzeiten eines Dokuments zurück - Anfrage Parameter DokumentId</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="GetDocumentSentResponse" type="document:DocumentSentType"/>

</xsd:schema>