easybill/SDK/assets/soap.easybill.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:easybill="http://www.easybill.de/webservice/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:customer="http://www.easybill.de/webservice/customer/"
                  xmlns:companyposition="http://www.easybill.de/webservice/companyposition/"
                  xmlns:document="http://www.easybill.de/webservice/document/"
                  name="easybill"
                  targetNamespace="http://www.easybill.de/webservice/">

    <wsdl:types>
        <xsd:schema targetNamespace="http://www.easybill.de/webservice/">
            <xsd:import namespace="http://www.easybill.de/webservice/customer/" schemaLocation="soap.customer.xsd"/>
            <xsd:import namespace="http://www.easybill.de/webservice/companyposition/" schemaLocation="soap.companyposition.xsd"/>
            <xsd:import namespace="http://www.easybill.de/webservice/document/" schemaLocation="soap.document.xsd"/>

            <xsd:simpleType name="AuthKeyType">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="64"/>
                    <xsd:maxLength value="64"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="UserAgentType">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:complexType name="EasybillFaultType">
                <xsd:sequence>
                    <xsd:element name="code" type="xsd:integer"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="IllegalAccessFaultType">
                <xsd:sequence>
                    <xsd:element name="authkey" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="DataNotValidFaultType">
                <xsd:sequence>
                    <xsd:element name="datafield" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="EasybillFault" type="easybill:EasybillFaultType"/>
            <xsd:element name="IllegalAccessFault" type="easybill:IllegalAccessFaultType"/>
            <xsd:element name="DataNotValidFault" type="easybill:DataNotValidFaultType"/>
            <xsd:element name="UserAuthKey" type="easybill:AuthKeyType"/>
            <xsd:element name="UserAgent" type="easybill:UserAgentType"/>

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="UserAuthKeyMessage">
        <wsdl:part element="easybill:UserAuthKey" name="HeaderAuthKey"/>
        <wsdl:part element="easybill:UserAgent" name="UserAgent"/>
    </wsdl:message>

    <!-- customer -->
    <wsdl:message name="GetCustomerRequest">
        <wsdl:part element="customer:GetCustomerRequest" name="customerID"/>
    </wsdl:message>
    <wsdl:message name="GetCustomerResponse">
        <wsdl:part element="customer:GetCustomerResponse" name="customer"/>
    </wsdl:message>

    <wsdl:message name="GetCustomerByCustomerNumberRequest">
        <wsdl:part element="customer:GetCustomerByCustomerNumberRequest" name="customerNumber"/>
    </wsdl:message>
    <wsdl:message name="GetCustomerByCustomerNumberResponse">
        <wsdl:part element="customer:GetCustomerByCustomerNumberResponse" name="customer"/>
    </wsdl:message>

    <wsdl:message name="SetCustomerRequest">
        <wsdl:part element="customer:SetCustomerRequest" name="customer"/>
    </wsdl:message>
    <wsdl:message name="SetCustomerResponse">
        <wsdl:part element="customer:SetCustomerResponse" name="customer"/>
    </wsdl:message>

    <wsdl:message name="SearchCustomersRequest">
        <wsdl:part element="customer:SearchCustomersRequest" name="searchInfo"/>
    </wsdl:message>
    <wsdl:message name="SearchCustomersResponse">
        <wsdl:part element="customer:SearchCustomersResponse" name="customers"/>
    </wsdl:message>

    <wsdl:message name="DeleteCustomerRequest">
        <wsdl:part element="customer:DeleteCustomerRequest" name="customerID"/>
    </wsdl:message>
    <wsdl:message name="DeleteCustomerResponse"/>

    <!-- customer group -->
    <wsdl:message name="GetCustomerGroupRequest">
        <wsdl:part element="customer:GetCustomerGroupRequest" name="customergroupid"/>
    </wsdl:message>
    <wsdl:message name="GetCustomerGroupResponse">
        <wsdl:part element="customer:GetCustomerGroupResponse" name="customergroup"/>
    </wsdl:message>
    <wsdl:message name="SetCustomerGroupRequest">
        <wsdl:part element="customer:SetCustomerGroupRequest" name="customergroup"/>
    </wsdl:message>
    <wsdl:message name="SetCustomerGroupResponse">
        <wsdl:part element="customer:SetCustomerGroupResponse" name="customergroup"/>
    </wsdl:message>
    <wsdl:message name="getAllCustomerGroups">
        <wsdl:part element="customer:getAllCustomerGroupsPHPBugfix" name="nothing"/>
    </wsdl:message>
    <wsdl:message name="GetAllCustomerGroupsResponse">
        <wsdl:part element="customer:AllCustomerGroupsResponse" name="customergroups"/>
    </wsdl:message>
    <wsdl:message name="DeleteCustomerGroupRequest">
        <wsdl:part element="customer:DeleteCustomerGroupRequest" name="contactID"/>
    </wsdl:message>
    <wsdl:message name="DeleteCustomerGroupResponse"/>

    <!-- customer contacts -->
    <wsdl:message name="GetContactsByCustomerRequest">
        <wsdl:part element="customer:GetContactsByCustomerRequest" name="customerID"/>
    </wsdl:message>
    <wsdl:message name="GetContactsByCustomerResponse">
        <wsdl:part element="customer:GetContactsByCustomerResponse" name="contacts"/>
    </wsdl:message>
    <wsdl:message name="GetCustomerContactsRequest">
        <wsdl:part element="customer:getCustomerContactsRequestPHPBugfix" name="nothing"/>
    </wsdl:message>
    <wsdl:message name="GetCustomerContactsResponse">
        <wsdl:part element="customer:GetCustomerContactsResponse" name="contact"/>
    </wsdl:message>
    <wsdl:message name="SetCustomerContactRequest">
        <wsdl:part element="customer:SetCustomerContactRequest" name="contact"/>
    </wsdl:message>
    <wsdl:message name="SetCustomerContactResponse">
        <wsdl:part element="customer:SetCustomerContactResponse" name="contact"/>
    </wsdl:message>
    <wsdl:message name="GetCustomerContactRequest">
        <wsdl:part element="customer:GetCustomerContactRequest" name="contactID"/>
    </wsdl:message>
    <wsdl:message name="GetCustomerContactResponse">
        <wsdl:part element="customer:GetCustomerContactResponse" name="contact"/>
    </wsdl:message>
    <wsdl:message name="DeleteCustomerContactRequest">
        <wsdl:part element="customer:DeleteCustomerContactRequest" name="contactID"/>
    </wsdl:message>
    <wsdl:message name="DeleteCustomerContactResponse"/>


    <!-- company position -->
    <wsdl:message name="GetCompanyPositionRequest">
        <wsdl:part element="companyposition:GetCompanyPositionRequest" name="companypositionId"/>
    </wsdl:message>
    <wsdl:message name="GetCompanyPositionResponse">
        <wsdl:part element="companyposition:GetCompanyPositionResponse" name="companyposition"/>
    </wsdl:message>

    <wsdl:message name="SetCompanyPositionRequest">
        <wsdl:part element="companyposition:SetCompanyPositionRequest" name="companyposition"/>
    </wsdl:message>
    <wsdl:message name="SetCompanyPositionResponse">
        <wsdl:part element="companyposition:SetCompanyPositionResponse" name="companyposition"/>
    </wsdl:message>

    <wsdl:message name="SearchCompanyPositionsRequest">
        <wsdl:part element="companyposition:SearchCompanyPositionsRequest" name="searchInfo"/>
    </wsdl:message>
    <wsdl:message name="SearchCompanyPositionsResponse">
        <wsdl:part element="companyposition:SearchCompanyPositionsResponse" name="companyposition"/>
    </wsdl:message>

    <wsdl:message name="DeleteCompanyPositionRequest">
        <wsdl:part element="companyposition:DeleteCompanyPositionRequest" name="companyPositionID"/>
    </wsdl:message>
    <wsdl:message name="DeleteCompanyPositionResponse"/>

    <!-- company position groups -->
    <wsdl:message name="GetCompanyPositionGroupRequest">
        <wsdl:part element="companyposition:GetCompanyPositionGroupRequest" name="companypositiongroupid"/>
    </wsdl:message>
    <wsdl:message name="GetCompanyPositionGroupResponse">
        <wsdl:part element="companyposition:GetCompanyPositionGroupResponse" name="companypositiongroup"/>
    </wsdl:message>
    <wsdl:message name="SetCompanyPositionGroupRequest">
        <wsdl:part element="companyposition:SetCompanyPositionGroupRequest" name="companypositiongroup"/>
    </wsdl:message>
    <wsdl:message name="SetCompanyPositionGroupResponse">
        <wsdl:part element="companyposition:SetCompanyPositionGroupResponse" name="companypositiongroup"/>
    </wsdl:message>
    <wsdl:message name="GetAllCompanyPositionGroupsRequest">
        <wsdl:part element="companyposition:AllCompanyPositionGroupsRequestPHPBugfix" name="nothing"/>
    </wsdl:message>
    <wsdl:message name="GetAllCompanyPositionGroupsResponse">
        <wsdl:part element="companyposition:AllCompanyPositionGroupsResponse" name="companypositiongroups"/>
    </wsdl:message>
    <wsdl:message name="DeleteCompanyPositionGroupRequest">
        <wsdl:part element="companyposition:DeleteCompanyPositionGroupRequest" name="groupID"/>
    </wsdl:message>
    <wsdl:message name="DeleteCompanyPositionGroupResponse"/>

    <!-- create document -->
    <wsdl:message name="CreateDocumentRequestMessage">
        <wsdl:part element="document:CreateDocumentRequest" name="documentdetails"/>
    </wsdl:message>
    <wsdl:message name="CreateDocumentResponseMessage">
        <wsdl:part element="document:CreateDocumentResponse" name="document"/>
    </wsdl:message>

    <!-- create reminder -->
    <wsdl:message name="CreateReminderRequestMessage">
        <wsdl:part element="document:CreateReminderRequest" name="details"/>
    </wsdl:message>
    <wsdl:message name="CreateReminderResponseMessage">
        <wsdl:part element="document:CreateReminderResponse" name="document"/>
    </wsdl:message>

    <!-- create dunning -->
    <wsdl:message name="CreateDunningRequestMessage">
        <wsdl:part element="document:CreateDunningRequest" name="details"/>
    </wsdl:message>
    <wsdl:message name="CreateDunningResponseMessage">
        <wsdl:part element="document:CreateDunningResponse" name="document"/>
    </wsdl:message>

    <!-- Get documents -->
    <wsdl:message name="GetDocumentsRequestMessage">
        <wsdl:part element="document:GetDocumentsRequest" name="customer"/>
    </wsdl:message>
    <wsdl:message name="GetDocumentsResponseMessage">
        <wsdl:part element="document:GetDocumentsResponse" name="documents"/>
    </wsdl:message>

    <!-- Get document -->
    <wsdl:message name="GetDocumentRequestMessage">
        <wsdl:part element="document:GetDocumentRequest" name="documentid"/>
    </wsdl:message>
    <wsdl:message name="GetDocumentResponseMessage">
        <wsdl:part element="document:GetDocumentResponse" name="document"/>
    </wsdl:message>

    <!-- Get documents -->
    <wsdl:message name="FindDocumentsByDocumentNumberRequestMessage">
        <wsdl:part element="document:FindDocumentsByDocumentNumberRequest" name="documentNumber"/>
    </wsdl:message>
    <wsdl:message name="FindDocumentsByDocumentNumberResponseMessage">
        <wsdl:part element="document:FindDocumentsByDocumentNumberResponse" name="documents"/>
    </wsdl:message>

    <!-- Get pdf document  -->
    <wsdl:message name="GetDocumentPDFRequestMessage">
        <wsdl:part element="document:GetDocumentPDFRequest" name="documentid"/>
    </wsdl:message>
    <wsdl:message name="GetDocumentPDFResponseMessage">
        <wsdl:part element="document:GetDocumentPDFResponse" name="document"/>
    </wsdl:message>

    <!-- to cancel document -->
    <wsdl:message name="ToCancelDocumentRequestMessage">
        <wsdl:part element="document:ToCancelDocumentRequest" name="requestData"/>
    </wsdl:message>
    <wsdl:message name="ToCancelDocumentResponseMessage">
        <wsdl:part element="document:ToCancelDocumentResponse" name="document"/>
    </wsdl:message>

    <!-- to credit document -->
    <wsdl:message name="ToCreditDocumentRequestMessage">
        <wsdl:part element="document:ToCreditDocumentRequest" name="requestData"/>
    </wsdl:message>
    <wsdl:message name="ToCreditDocumentResponseMessage">
        <wsdl:part element="document:ToCreditDocumentResponse" name="document"/>
    </wsdl:message>

    <!-- add payment -->
    <wsdl:message name="AddDocumentPaymentRequestMessage">
        <wsdl:part element="document:AddDocumentPaymentRequest" name="payment"/>
    </wsdl:message>
    <wsdl:message name="AddDocumentPaymentResponseMessage">
        <wsdl:part element="document:AddDocumentPaymentResponse" name="result"/>
    </wsdl:message>

    <!-- get payment -->
    <wsdl:message name="GetDocumentPaymentsRequestMessage">
        <wsdl:part element="document:GetDocumentPaymentsRequest" name="documentid"/>
    </wsdl:message>
    <wsdl:message name="GetDocumentPaymentsResponseMessage">
        <wsdl:part element="document:GetDocumentPaymentsResponse" name="result"/>
    </wsdl:message>

    <!-- get sent -->
    <wsdl:message name="GetDocumentSentRequestMessage">
        <wsdl:part element="document:GetDocumentSentRequest" name="documentid"/>
    </wsdl:message>
    <wsdl:message name="GetDocumentSentResponseMessage">
        <wsdl:part element="document:GetDocumentSentResponse" name="result"/>
    </wsdl:message>

    <!-- Faults -->
    <wsdl:message name="EasybillFaultMessage">
        <wsdl:part element="easybill:EasybillFault" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="IllegalAccessFaultMessage">
        <wsdl:part element="easybill:IllegalAccessFault" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="DataNotValidFaultMessage">
        <wsdl:part element="easybill:DataNotValidFault" name="parameters"/>
    </wsdl:message>

    <!-- fault messages customer -->
    <wsdl:message name="CustomerNotFoundFaultMessage">
        <wsdl:part element="customer:CustomerNotFoundFault" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="CustomerGroupNotFoundFaultMessage">
        <wsdl:part element="customer:CustomerGroupNotFoundFault" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="CustomerContactNotFoundFaultMessage">
        <wsdl:part element="customer:CustomerContactNotFoundFault" name="parameters"/>
    </wsdl:message>

    <!-- fault messages company position -->
    <wsdl:message name="CompanyPositionNotFoundFaultMessage">
        <wsdl:part element="companyposition:CompanyPositionNotFoundFault" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="CompanyPositionGroupNotFoundFaultMessage">
        <wsdl:part element="companyposition:CompanyPositionGroupNotFoundFault" name="parameters"/>
    </wsdl:message>

    <!-- fault messages document -->
    <wsdl:message name="DocumentNotFoundFaultMessage">
        <wsdl:part element="document:DocumentNotFoundFault" name="parameters"/>
    </wsdl:message>


    <wsdl:portType name="easybillPortType">
        <wsdl:operation name="getCustomer">
            <wsdl:documentation>Gibt den Kunden mit der ID zurück</wsdl:documentation>
            <wsdl:input message="easybill:GetCustomerRequest"/>
            <wsdl:output message="easybill:GetCustomerResponse"/>
            <wsdl:fault name="EasybillFault" message="easybill:EasybillFaultMessage"/>
            <wsdl:fault name="IllegalAccessFault" message="easybill:IllegalAccessFaultMessage"/>
            <wsdl:fault name="CustomerNotFoundFault" message="easybill:CustomerNotFoundFaultMessage"/>
        </wsdl:operation>

        <wsdl:operation name="getCustomerByCustomerNumber">
            <wsdl:documentation>Gibt den Kunden mit der Kundennummer zurück</wsdl:documentation>
            <wsdl:input message="easybill:GetCustomerByCustomerNumberRequest"/>
            <wsdl:output message="easybill:GetCustomerByCustomerNumberResponse"/>
            <wsdl:fault name="EasybillFault" message="easybill:EasybillFaultMessage"/>
            <wsdl:fault name="IllegalAccessFault" message="easybill:IllegalAccessFaultMessage"/>
            <wsdl:fault name="CustomerNotFoundFault" message="easybill:CustomerNotFoundFaultMessage"/>
        </wsdl:operation>

        <wsdl:operation name="setCustomer">
            <wsdl:documentation>Anlegen oder Bearbeiten eines Kunden.
                Anlegen geschieht automatisch, falls die CustomerID null ist.
            </wsdl:documentation>
            <wsdl:input message="easybill:SetCustomerRequest"/>
            <wsdl:output message="easybill:SetCustomerResponse"/>
            <wsdl:fault name="EasybillFault" message="easybill:EasybillFaultMessage"/>
            <wsdl:fault name="IllegalAccessFault" message="easybill:IllegalAccessFaultMessage"/>
            <wsdl:fault name="CustomerNotFoundFault" message="easybill:CustomerNotFoundFaultMessage"/>
            <wsdl:fault name="DataNotValidFault" message="easybill:DataNotValidFaultMessage"/>
        </wsdl:operation>

        <wsdl:operation name="searchCustomers">
            <wsdl:documentation>Suche alle Kunden, eingeschränkt auf den Suchstring</wsdl:documentation>
            <wsdl:input message="easybill:SearchCustomersRequest"/>
            <wsdl:output message="easybill:SearchCustomersResponse"/>
            <wsdl:fault name="EasybillFault" message="easybill:EasybillFaultMessage"/>
            <wsdl:fault name="IllegalAccessFault" message="easybill:IllegalAccessFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="deleteCustomer">
            <wsdl:documentation>Löscht den Kunden mit der Kunden-ID</wsdl:documentation>
            <wsdl:input message="easybill:DeleteCustomerRequest"/>
            <wsdl:output message="easybill:DeleteCustomerResponse"/>
            <wsdl:fault name="EasybillFault" message="easybill:EasybillFaultMessage"/>
            <wsdl:fault name="IllegalAccessFault" message="easybill:IllegalAccessFaultMessage"/>
            <wsdl:fault name="CustomerNotFoundFault" message="easybill:CustomerNotFoundFaultMessage"/>
        </wsdl:operation>


        <wsdl:operation name="getCustomerGroup">
            <wsdl:documentation>Gibt eine Kundengruppe zurück</wsdl:documentation>
            <wsdl:input message="easybill:GetCustomerGroupRequest"/>
            <wsdl:output message="easybill:GetCustomerGroupResponse"/>
            <wsdl:fault name="EasybillFault" message="easybill:EasybillFaultMessage"/>
            <wsdl:fault name="IllegalAccessFault" message="easybill:IllegalAccessFaultMessage"/>
            <wsdl:fault name="CustomerGroupNotFoundFault" message="easybill:CustomerGroupNotFoundFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="setCustomerGroup">
            <wsdl:documentation>Erstellt oder bearbeitet einen Kundengruppe.
                Erstellen geschieht automatisch, falls customergroupid null ist.
            </wsdl:documentation>
            <wsdl:input message="easybill:SetCustomerGroupRequest"/>
            <wsdl:output message="easybill:SetCustomerGroupResponse"/>
            <wsdl:fault name="EasybillFault" message="easybill:EasybillFaultMessage"/>
            <wsdl:fault name="IllegalAccessFault" message="easybill:IllegalAccessFaultMessage"/>
            <wsdl:fault name="DataNotValidFault" message="easybill:DataNotValidFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="getAllCustomerGroups">
            <wsdl:documentation>Gibt alle gespeicherten Kundengruppen zurück</wsdl:documentation>
            <wsdl:input message="easybill:getAllCustomerGroups"/>
            <wsdl:output message="easybill:GetAllCustomerGroupsResponse"/>
            <wsdl:fault name="EasybillFault" message="easybill:EasybillFaultMessage"/>
            <wsdl:fault name="IllegalAccessFault" message="easybill:IllegalAccessFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="deleteCustomerGroup">
            <wsdl:documentation>Löscht die Kundengruppe</wsdl:documentation>
            <wsdl:input message="easybill:DeleteCustomerGroupRequest"/>
            <wsdl:output message="easybill:DeleteCustomerGroupResponse"/>
            <wsdl:fault name="EasybillFault" message="easybill:EasybillFaultMessage"/>
            <wsdl:fault name="IllegalAccessFault" message="easybill:IllegalAccessFaultMessage"/>
            <wsdl:fault name="CustomerGroupNotFoundFault" message="easybill:CustomerGroupNotFoundFaultMessage"/>
        </wsdl:operation>

        <wsdl:operation name="getContactsByCustomer">
            <wsdl:documentation>Gibt alle gespeicherten Ansprechpartner für den Kunden zurück</wsdl:documentation>
            <wsdl:input message="easybill:GetContactsByCustomerRequest"/>
            <wsdl:output message="easybill:GetContactsByCustomerResponse"/>
            <wsdl:fault name="IllegalAccessFault" message="easybill:IllegalAccessFaultMessage"/>
            <wsdl:fault name="CustomerNotFoundFault" message="easybill:CustomerNotFoundFaultMessage"/>
            <wsdl:fault name="EasybillFault" message="easybill:EasybillFaultMessage"/>
        </wsdl:operation>

        <wsdl:operation name="getCustomerContacts">
            <wsdl:documentation>Gibt alle gespeicherten Ansprechpartner zurück</wsdl:documentation>
            <wsdl:input message="easybill:GetCustomerContactsRequest"/>
            <wsdl:output message="easybill:GetCustomerContactsResponse"/>
            <wsdl:fault name="IllegalAccessFault" message="easybill:IllegalAccessFaultMessage"/>
            <wsdl:fault name="EasybillFault" message="easybill:EasybillFaultMessage"/>
        </wsdl:operation>

        <wsdl:operation name="setCustomerContact">
            <wsdl:documentation>Erstellt oder bearbeitet einen Ansprechpartner.</wsdl:documentation>
            <wsdl:input message="easybill:SetCustomerContactRequest"/>
            <wsdl:output message="easybill:SetCustomerContactResponse"/>
            <wsdl:fault name="EasybillFault" message="easybill:EasybillFaultMessage"/>
            <wsdl:fault name="CustomerNotFoundFault" message="easybill:CustomerNotFoundFaultMessage"/>
            <wsdl:fault name="IllegalAccessFault" message="easybill:IllegalAccessFaultMessage"/>
            <wsdl:fault name="DataNotValidFault" message="easybill:DataNotValidFaultMessage"/>
        </wsdl:operation>

        <wsdl:operation name="getCustomerContact">
            <wsdl:documentation>Gibt eine Ansprechpartner zurück</wsdl:documentation>
            <wsdl:input message="easybill:GetCustomerContactRequest"/>
            <wsdl:output message="easybill:GetCustomerContactResponse"/>
            <wsdl:fault name="EasybillFault" message="easybill:EasybillFaultMessage"/>
            <wsdl:fault name="IllegalAccessFault" message="easybill:IllegalAccessFaultMessage"/>
            <wsdl:fault name="CustomerContactNotFoundFault" message="easybill:CustomerContactNotFoundFaultMessage"/>
        </wsdl:operation>

        <wsdl:operation name="deleteCustomerContact">
            <wsdl:documentation>Löscht den Ansprechpartner mit der Ansprechpartner-ID</wsdl:documentation>
            <wsdl:input message="easybill:DeleteCustomerContactRequest"/>
            <wsdl:output message="easybill:DeleteCustomerContactResponse"/>
            <wsdl:fault name="EasybillFault" message="easybill:EasybillFaultMessage"/>
            <wsdl:fault name="IllegalAccessFault" message="easybill:IllegalAccessFaultMessage"/>
            <wsdl:fault name="CustomerContactNotFoundFault" message="easybill:CustomerContactNotFoundFaultMessage"/>
        </wsdl:operation>

        <wsdl:operation name="getCompanyPosition">
            <wsdl:documentation>Gibt den Rechnungsposten zurück</wsdl:documentation>
            <wsdl:input message="easybill:GetCompanyPositionRequest"/>
            <wsdl:output message="easybill:GetCompanyPositionResponse"/>
            <wsdl:fault name="EasybillFault" message="easybill:EasybillFaultMessage"/>
            <wsdl:fault name="IllegalAccessFault" message="easybill:IllegalAccessFaultMessage"/>
            <wsdl:fault name="CompanyPositionNotFoundFault" message="easybill:CompanyPositionNotFoundFaultMessage"/>
        </wsdl:operation>

        <wsdl:operation name="setCompanyPosition">
            <wsdl:documentation>Erstellt oder bearbeitet Rechnungsposten.
                Erstellen geschieht automatisch, falls companypositionid null ist.
            </wsdl:documentation>
            <wsdl:input message="easybill:SetCompanyPositionRequest"/>
            <wsdl:output message="easybill:SetCompanyPositionResponse"/>
            <wsdl:fault name="EasybillFault" message="easybill:EasybillFaultMessage"/>
            <wsdl:fault name="IllegalAccessFault" message="easybill:IllegalAccessFaultMessage"/>
            <wsdl:fault name="CompanyPositionNotFoundFault" message="easybill:CompanyPositionNotFoundFaultMessage"/>
            <wsdl:fault name="DataNotValidFault" message="easybill:DataNotValidFaultMessage"/>
        </wsdl:operation>

        <wsdl:operation name="searchCompanyPositions">
            <wsdl:documentation>Suche eine bestimmte Menge von Rechnungsposten</wsdl:documentation>
            <wsdl:input message="easybill:SearchCompanyPositionsRequest"/>
            <wsdl:output message="easybill:SearchCompanyPositionsResponse"/>
            <wsdl:fault name="EasybillFault" message="easybill:EasybillFaultMessage"/>
            <wsdl:fault name="IllegalAccessFault" message="easybill:IllegalAccessFaultMessage"/>
        </wsdl:operation>

        <wsdl:operation name="deleteCompanyPosition">
            <wsdl:documentation>Löscht den Rechnungsposten</wsdl:documentation>
            <wsdl:input message="easybill:DeleteCompanyPositionRequest"/>
            <wsdl:output message="easybill:DeleteCompanyPositionResponse"/>
            <wsdl:fault name="EasybillFault" message="easybill:EasybillFaultMessage"/>
            <wsdl:fault name="IllegalAccessFault" message="easybill:IllegalAccessFaultMessage"/>
            <wsdl:fault name="CompanyPositionNotFoundFault" message="easybill:CompanyPositionNotFoundFaultMessage"/>
        </wsdl:operation>

        <wsdl:operation name="deleteCompanyPositionGroup">
            <wsdl:documentation>Löscht die Warengruppe</wsdl:documentation>
            <wsdl:input message="easybill:DeleteCompanyPositionGroupRequest"/>
            <wsdl:output message="easybill:DeleteCompanyPositionGroupResponse"/>
            <wsdl:fault name="EasybillFault" message="easybill:EasybillFaultMessage"/>
            <wsdl:fault name="IllegalAccessFault" message="easybill:IllegalAccessFaultMessage"/>
            <wsdl:fault name="CompanyPositionGroupNotFoundFault" message="easybill:CompanyPositionGroupNotFoundFaultMessage"/>
        </wsdl:operation>

        <wsdl:operation name="getCompanyPositionGroup">
            <wsdl:documentation>Gibt die bestimmte Rechnungspostengruppe zurück</wsdl:documentation>
            <wsdl:input message="easybill:GetCompanyPositionGroupRequest"/>
            <wsdl:output message="easybill:GetCompanyPositionGroupResponse"/>
            <wsdl:fault name="EasybillFault" message="easybill:EasybillFaultMessage"/>
            <wsdl:fault name="IllegalAccessFault" message="easybill:IllegalAccessFaultMessage"/>
            <wsdl:fault name="CompanyPositionGroupNotFoundFault" message="easybill:CompanyPositionGroupNotFoundFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="setCompanyPositionGroup">
            <wsdl:documentation>Erstellt oder bearbeitet einen Rechnungspostengruppe.
                Erstellen geschieht automatisch, falls companypositiongroupid null ist.
            </wsdl:documentation>
            <wsdl:input message="easybill:SetCompanyPositionGroupRequest"/>
            <wsdl:output message="easybill:SetCompanyPositionGroupResponse"/>
            <wsdl:fault name="EasybillFault" message="easybill:EasybillFaultMessage"/>
            <wsdl:fault name="IllegalAccessFault" message="easybill:IllegalAccessFaultMessage"/>
            <wsdl:fault name="DataNotValidFault" message="easybill:DataNotValidFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="getAllCompanyPositionGroups">
            <wsdl:documentation>Gibt alle Rechnungspostengruppen zurück</wsdl:documentation>
            <wsdl:input message="easybill:GetAllCompanyPositionGroupsRequest"/>
            <wsdl:output message="easybill:GetAllCompanyPositionGroupsResponse"/>
            <wsdl:fault name="EasybillFault" message="easybill:EasybillFaultMessage"/>
            <wsdl:fault name="IllegalAccessFault" message="easybill:IllegalAccessFaultMessage"/>
        </wsdl:operation>

        <!-- create documents not reminder -->
        <wsdl:operation name="createDocument">
            <wsdl:documentation>Erstellt ein Dokument, keine Mahnung</wsdl:documentation>
            <wsdl:input message="easybill:CreateDocumentRequestMessage"/>
            <wsdl:output message="easybill:CreateDocumentResponseMessage"/>
            <wsdl:fault name="EasybillFault" message="easybill:EasybillFaultMessage"/>
            <wsdl:fault name="IllegalAccessFault" message="easybill:IllegalAccessFaultMessage"/>
        </wsdl:operation>

        <!-- create reminder -->
        <wsdl:operation name="createReminder">
            <wsdl:documentation>Erstellt eine Erinnerung</wsdl:documentation>
            <wsdl:input message="easybill:CreateReminderRequestMessage"/>
            <wsdl:output message="easybill:CreateReminderResponseMessage"/>
            <wsdl:fault name="DocumentNotFoundFault" message="easybill:DocumentNotFoundFaultMessage"/>
            <wsdl:fault name="EasybillFault" message="easybill:EasybillFaultMessage"/>
            <wsdl:fault name="IllegalAccessFault" message="easybill:IllegalAccessFaultMessage"/>
        </wsdl:operation>

        <!-- create dunning -->
        <wsdl:operation name="createDunning">
            <wsdl:documentation>Erstellt eine Mahnung</wsdl:documentation>
            <wsdl:input message="easybill:CreateDunningRequestMessage"/>
            <wsdl:output message="easybill:CreateDunningResponseMessage"/>
            <wsdl:fault name="DocumentNotFoundFault" message="easybill:DocumentNotFoundFaultMessage"/>
            <wsdl:fault name="EasybillFault" message="easybill:EasybillFaultMessage"/>
            <wsdl:fault name="IllegalAccessFault" message="easybill:IllegalAccessFaultMessage"/>
        </wsdl:operation>

        <wsdl:operation name="getDocuments">
            <wsdl:documentation>Gibt alle Dokumente eines Kunden zurück</wsdl:documentation>
            <wsdl:input message="easybill:GetDocumentsRequestMessage"/>
            <wsdl:output message="easybill:GetDocumentsResponseMessage"/>
            <wsdl:fault name="CustomerNotFoundFault" message="easybill:CustomerNotFoundFaultMessage"/>
            <wsdl:fault name="EasybillFault" message="easybill:EasybillFaultMessage"/>
            <wsdl:fault name="IllegalAccessFault" message="easybill:IllegalAccessFaultMessage"/>
        </wsdl:operation>

        <wsdl:operation name="findDocumentsByDocumentNumber">
            <wsdl:documentation>Gibt alle Dokumente zurück die die gesuchte Dokumentnummer tragen</wsdl:documentation>
            <wsdl:input message="easybill:FindDocumentsByDocumentNumberRequestMessage"/>
            <wsdl:output message="easybill:FindDocumentsByDocumentNumberResponseMessage"/>
            <wsdl:fault name="EasybillFault" message="easybill:EasybillFaultMessage"/>
            <wsdl:fault name="IllegalAccessFault" message="easybill:IllegalAccessFaultMessage"/>
        </wsdl:operation>

        <wsdl:operation name="getDocument">
            <wsdl:documentation>Gibt ein spezielles Dokument zurück</wsdl:documentation>
            <wsdl:input message="easybill:GetDocumentRequestMessage"/>
            <wsdl:output message="easybill:GetDocumentResponseMessage"/>
            <wsdl:fault name="DocumentNotFoundFault" message="easybill:DocumentNotFoundFaultMessage"/>
            <wsdl:fault name="EasybillFault" message="easybill:EasybillFaultMessage"/>
            <wsdl:fault name="IllegalAccessFault" message="easybill:IllegalAccessFaultMessage"/>
        </wsdl:operation>

        <wsdl:operation name="getDocumentPDF">
            <wsdl:documentation>Gibt das PDF zu einem Dokument zurück</wsdl:documentation>
            <wsdl:input message="easybill:GetDocumentPDFRequestMessage"/>
            <wsdl:output message="easybill:GetDocumentPDFResponseMessage"/>
            <wsdl:fault name="DocumentNotFoundFault" message="easybill:DocumentNotFoundFaultMessage"/>
            <wsdl:fault name="EasybillFault" message="easybill:EasybillFaultMessage"/>
            <wsdl:fault name="IllegalAccessFault" message="easybill:IllegalAccessFaultMessage"/>
        </wsdl:operation>

        <wsdl:operation name="toCancelDocument">
            <wsdl:documentation>Storniert ein document</wsdl:documentation>
            <wsdl:input message="easybill:ToCancelDocumentRequestMessage"/>
            <wsdl:output message="easybill:ToCancelDocumentResponseMessage"/>
            <wsdl:fault name="DocumentNotFoundFault" message="easybill:DocumentNotFoundFaultMessage"/>
            <wsdl:fault name="EasybillFault" message="easybill:EasybillFaultMessage"/>
            <wsdl:fault name="IllegalAccessFault" message="easybill:IllegalAccessFaultMessage"/>
        </wsdl:operation>

        <wsdl:operation name="toCreditDocument">
            <wsdl:documentation>erstellt aus einem Dokument eine Gutschrift</wsdl:documentation>
            <wsdl:input message="easybill:ToCreditDocumentRequestMessage"/>
            <wsdl:output message="easybill:ToCreditDocumentResponseMessage"/>
            <wsdl:fault name="DocumentNotFoundFault" message="easybill:DocumentNotFoundFaultMessage"/>
            <wsdl:fault name="EasybillFault" message="easybill:EasybillFaultMessage"/>
            <wsdl:fault name="IllegalAccessFault" message="easybill:IllegalAccessFaultMessage"/>
        </wsdl:operation>

        <wsdl:operation name="addDocumentPayment">
            <wsdl:documentation>Hängt eine neue Zahlung an das Dokument an</wsdl:documentation>
            <wsdl:input message="easybill:AddDocumentPaymentRequestMessage"/>
            <wsdl:output message="easybill:AddDocumentPaymentResponseMessage"/>
            <wsdl:fault name="DocumentNotFoundFault" message="easybill:DocumentNotFoundFaultMessage"/>
            <wsdl:fault name="EasybillFault" message="easybill:EasybillFaultMessage"/>
            <wsdl:fault name="IllegalAccessFault" message="easybill:IllegalAccessFaultMessage"/>
            <wsdl:fault name="DataNotValidFault" message="easybill:DataNotValidFaultMessage"/>
        </wsdl:operation>

        <wsdl:operation name="getDocumentPayments">
            <wsdl:documentation>Gibt alle Zahlungen eines Dokuments zurück</wsdl:documentation>
            <wsdl:input message="easybill:GetDocumentPaymentsRequestMessage"/>
            <wsdl:output message="easybill:GetDocumentPaymentsResponseMessage"/>
            <wsdl:fault name="DocumentNotFoundFault" message="easybill:DocumentNotFoundFaultMessage"/>
            <wsdl:fault name="EasybillFault" message="easybill:EasybillFaultMessage"/>
            <wsdl:fault name="IllegalAccessFault" message="easybill:IllegalAccessFaultMessage"/>
        </wsdl:operation>

        <wsdl:operation name="getDocumentSent">
            <wsdl:documentation>Gibt alle Versandzeiten eines Dokuments zurück</wsdl:documentation>
            <wsdl:input message="easybill:GetDocumentSentRequestMessage"/>
            <wsdl:output message="easybill:GetDocumentSentResponseMessage"/>
            <wsdl:fault name="DocumentNotFoundFault" message="easybill:DocumentNotFoundFaultMessage"/>
            <wsdl:fault name="EasybillFault" message="easybill:EasybillFaultMessage"/>
            <wsdl:fault name="IllegalAccessFault" message="easybill:IllegalAccessFaultMessage"/>
        </wsdl:operation>

    </wsdl:portType>


    <wsdl:binding name="easybillBinding" type="easybill:easybillPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="getCustomer">
            <soap:operation soapAction="http://www.easybill.de/webservice/customer/getCustomer"/>
            <wsdl:input>
                <soap:header message="easybill:UserAuthKeyMessage" part="HeaderAuthKey" use="literal"/>
                <soap:header message="easybill:UserAuthKeyMessage" part="UserAgent" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>

            <wsdl:fault name="EasybillFault">
                <soap:fault name="EasybillFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="IllegalAccessFault">
                <soap:fault name="IllegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="CustomerNotFoundFault">
                <soap:fault name="CustomerNotFoundFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getCustomerByCustomerNumber">
            <soap:operation soapAction="http://www.easybill.de/webservice/customer/getCustomerByCustomerNumber"/>
            <wsdl:input>
                <soap:header message="easybill:UserAuthKeyMessage" part="HeaderAuthKey" use="literal"/>
                <soap:header message="easybill:UserAuthKeyMessage" part="UserAgent" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EasybillFault">
                <soap:fault name="EasybillFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="IllegalAccessFault">
                <soap:fault name="IllegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="CustomerNotFoundFault">
                <soap:fault name="CustomerNotFoundFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="setCustomer">
            <soap:operation soapAction="http://www.easybill.de/webservice/customer/SetCustomer"/>
            <wsdl:input>
                <soap:header message="easybill:UserAuthKeyMessage" part="HeaderAuthKey" use="literal"/>
                <soap:header message="easybill:UserAuthKeyMessage" part="UserAgent" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EasybillFault">
                <soap:fault name="EasybillFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="IllegalAccessFault">
                <soap:fault name="IllegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="CustomerNotFoundFault">
                <soap:fault name="CustomerNotFoundFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="DataNotValidFault">
                <soap:fault name="DataNotValidFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>


        <wsdl:operation name="searchCustomers">
            <soap:operation soapAction="http://www.easybill.de/webservice/customer/searchCustomers"/>
            <wsdl:input>
                <soap:header message="easybill:UserAuthKeyMessage" part="HeaderAuthKey" use="literal"/>
                <soap:header message="easybill:UserAuthKeyMessage" part="UserAgent" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EasybillFault">
                <soap:fault name="EasybillFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="IllegalAccessFault">
                <soap:fault name="IllegalAccessFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="deleteCustomer">
            <soap:operation soapAction="http://www.easybill.de/webservice/customer/deleteCustomer"/>
            <wsdl:input>
                <soap:header message="easybill:UserAuthKeyMessage" part="HeaderAuthKey" use="literal"/>
                <soap:header message="easybill:UserAuthKeyMessage" part="UserAgent" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EasybillFault">
                <soap:fault name="EasybillFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="IllegalAccessFault">
                <soap:fault name="IllegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="CustomerNotFoundFault">
                <soap:fault name="CustomerNotFoundFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="deleteCustomerContact">
            <soap:operation soapAction="http://www.easybill.de/webservice/customer/deleteCustomerContact"/>
            <wsdl:input>
                <soap:header message="easybill:UserAuthKeyMessage" part="HeaderAuthKey" use="literal"/>
                <soap:header message="easybill:UserAuthKeyMessage" part="UserAgent" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EasybillFault">
                <soap:fault name="EasybillFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="IllegalAccessFault">
                <soap:fault name="IllegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="CustomerContactNotFoundFault">
                <soap:fault name="CustomerContactNotFoundFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="deleteCustomerGroup">
            <soap:operation soapAction="http://www.easybill.de/webservice/customer/deleteCustomerGroup"/>
            <wsdl:input>
                <soap:header message="easybill:UserAuthKeyMessage" part="HeaderAuthKey" use="literal"/>
                <soap:header message="easybill:UserAuthKeyMessage" part="UserAgent" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EasybillFault">
                <soap:fault name="EasybillFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="IllegalAccessFault">
                <soap:fault name="IllegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="CustomerGroupNotFoundFault">
                <soap:fault name="CustomerGroupNotFoundFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getCustomerGroup">
            <soap:operation soapAction="http://www.easybill.de/webservice/customer/getCustomerGroup"/>
            <wsdl:input>
                <soap:header message="easybill:UserAuthKeyMessage" part="HeaderAuthKey" use="literal"/>
                <soap:header message="easybill:UserAuthKeyMessage" part="UserAgent" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EasybillFault">
                <soap:fault name="EasybillFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="IllegalAccessFault">
                <soap:fault name="IllegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="CustomerGroupNotFoundFault">
                <soap:fault name="CustomerGroupNotFoundFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setCustomerGroup">
            <soap:operation soapAction="http://www.easybill.de/webservice/customer/setCustomerGroup"/>
            <wsdl:input>
                <soap:header message="easybill:UserAuthKeyMessage" part="HeaderAuthKey" use="literal"/>
                <soap:header message="easybill:UserAuthKeyMessage" part="UserAgent" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EasybillFault">
                <soap:fault name="EasybillFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="IllegalAccessFault">
                <soap:fault name="IllegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="DataNotValidFault">
                <soap:fault name="DataNotValidFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllCustomerGroups">
            <soap:operation soapAction="http://www.easybill.de/webservice/customer/getAllCustomerGroups"/>
            <wsdl:input>
                <soap:header message="easybill:UserAuthKeyMessage" part="HeaderAuthKey" use="literal"/>
                <soap:header message="easybill:UserAuthKeyMessage" part="UserAgent" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EasybillFault">
                <soap:fault name="EasybillFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="IllegalAccessFault">
                <soap:fault name="IllegalAccessFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getContactsByCustomer">
            <soap:operation soapAction="http://www.easybill.de/webservice/customer/getContactsByCustomer"/>
            <wsdl:input>
                <soap:header message="easybill:UserAuthKeyMessage" part="HeaderAuthKey" use="literal"/>
                <soap:header message="easybill:UserAuthKeyMessage" part="UserAgent" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EasybillFault">
                <soap:fault name="EasybillFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="IllegalAccessFault">
                <soap:fault name="IllegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="CustomerNotFoundFault">
                <soap:fault name="CustomerNotFoundFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getCustomerContacts">
            <soap:operation soapAction="http://www.easybill.de/webservice/customer/getCustomerContacts"/>
            <wsdl:input>
                <soap:header message="easybill:UserAuthKeyMessage" part="HeaderAuthKey" use="literal"/>
                <soap:header message="easybill:UserAuthKeyMessage" part="UserAgent" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EasybillFault">
                <soap:fault name="EasybillFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="IllegalAccessFault">
                <soap:fault name="IllegalAccessFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="setCustomerContact">
            <soap:operation soapAction="http://www.easybill.de/webservice/customer/setCustomerContact"/>
            <wsdl:input>
                <soap:header message="easybill:UserAuthKeyMessage" part="HeaderAuthKey" use="literal"/>
                <soap:header message="easybill:UserAuthKeyMessage" part="UserAgent" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EasybillFault">
                <soap:fault name="EasybillFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="IllegalAccessFault">
                <soap:fault name="IllegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="DataNotValidFault">
                <soap:fault name="DataNotValidFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="CustomerNotFoundFault">
                <soap:fault name="CustomerNotFoundFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getCustomerContact">
            <soap:operation soapAction="http://www.easybill.de/webservice/customer/getCustomerContact"/>
            <wsdl:input>
                <soap:header message="easybill:UserAuthKeyMessage" part="HeaderAuthKey" use="literal"/>
                <soap:header message="easybill:UserAuthKeyMessage" part="UserAgent" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EasybillFault">
                <soap:fault name="EasybillFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="IllegalAccessFault">
                <soap:fault name="IllegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="CustomerContactNotFoundFault">
                <soap:fault name="CustomerContactNotFoundFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>


        <!-- company positions -->
        <wsdl:operation name="getCompanyPosition">
            <soap:operation soapAction="http://www.easybill.de/webservice/customer/getCompanyPosition"/>
            <wsdl:input>
                <soap:header message="easybill:UserAuthKeyMessage" part="HeaderAuthKey" use="literal"/>
                <soap:header message="easybill:UserAuthKeyMessage" part="UserAgent" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>

            <wsdl:fault name="EasybillFault">
                <soap:fault name="EasybillFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="IllegalAccessFault">
                <soap:fault name="IllegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="CompanyPositionNotFoundFault">
                <soap:fault name="CompanyPositionNotFoundFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="setCompanyPosition">
            <soap:operation soapAction="http://www.easybill.de/webservice/customer/SetCompanyPosition"/>
            <wsdl:input>
                <soap:header message="easybill:UserAuthKeyMessage" part="HeaderAuthKey" use="literal"/>
                <soap:header message="easybill:UserAuthKeyMessage" part="UserAgent" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EasybillFault">
                <soap:fault name="EasybillFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="IllegalAccessFault">
                <soap:fault name="IllegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="CompanyPositionNotFoundFault">
                <soap:fault name="CompanyPositionNotFoundFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="DataNotValidFault">
                <soap:fault name="DataNotValidFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>


        <wsdl:operation name="searchCompanyPositions">
            <soap:operation soapAction="http://www.easybill.de/webservice/customer/searchCustomers"/>
            <wsdl:input>
                <soap:header message="easybill:UserAuthKeyMessage" part="HeaderAuthKey" use="literal"/>
                <soap:header message="easybill:UserAuthKeyMessage" part="UserAgent" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EasybillFault">
                <soap:fault name="EasybillFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="IllegalAccessFault">
                <soap:fault name="IllegalAccessFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="deleteCompanyPosition">
            <soap:operation soapAction="http://www.easybill.de/webservice/companyposition/deleteCompanyPosition"/>
            <wsdl:input>
                <soap:header message="easybill:UserAuthKeyMessage" part="HeaderAuthKey" use="literal"/>
                <soap:header message="easybill:UserAuthKeyMessage" part="UserAgent" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EasybillFault">
                <soap:fault name="EasybillFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="IllegalAccessFault">
                <soap:fault name="IllegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="CompanyPositionNotFoundFault">
                <soap:fault name="CompanyPositionNotFoundFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <!-- company position groups -->
        <wsdl:operation name="getCompanyPositionGroup">
            <soap:operation soapAction="http://www.easybill.de/webservice/companyposition/getCompanyPositionGroup"/>
            <wsdl:input>
                <soap:header message="easybill:UserAuthKeyMessage" part="HeaderAuthKey" use="literal"/>
                <soap:header message="easybill:UserAuthKeyMessage" part="UserAgent" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EasybillFault">
                <soap:fault name="EasybillFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="IllegalAccessFault">
                <soap:fault name="IllegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="CompanyPositionGroupNotFoundFault">
                <soap:fault name="CompanyPositionGroupNotFoundFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setCompanyPositionGroup">
            <soap:operation soapAction="http://www.easybill.de/webservice/companyposition/setCompanyPositionGroup"/>
            <wsdl:input>
                <soap:header message="easybill:UserAuthKeyMessage" part="HeaderAuthKey" use="literal"/>
                <soap:header message="easybill:UserAuthKeyMessage" part="UserAgent" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EasybillFault">
                <soap:fault name="EasybillFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="IllegalAccessFault">
                <soap:fault name="IllegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="DataNotValidFault">
                <soap:fault name="DataNotValidFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllCompanyPositionGroups">
            <soap:operation soapAction="http://www.easybill.de/webservice/companyposition/allCompanyPositionGroups"/>
            <wsdl:input>
                <soap:header message="easybill:UserAuthKeyMessage" part="HeaderAuthKey" use="literal"/>
                <soap:header message="easybill:UserAuthKeyMessage" part="UserAgent" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EasybillFault">
                <soap:fault name="EasybillFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="IllegalAccessFault">
                <soap:fault name="IllegalAccessFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteCompanyPositionGroup">
            <soap:operation soapAction="http://www.easybill.de/webservice/companyposition/deleteCompanyPositionGroup"/>
            <wsdl:input>
                <soap:header message="easybill:UserAuthKeyMessage" part="HeaderAuthKey" use="literal"/>
                <soap:header message="easybill:UserAuthKeyMessage" part="UserAgent" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EasybillFault">
                <soap:fault name="EasybillFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="IllegalAccessFault">
                <soap:fault name="IllegalAccessFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="CompanyPositionGroupNotFoundFault">
                <soap:fault name="CompanyPositionGroupNotFoundFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="createDocument">
            <soap:operation soapAction="http://www.easybill.de/webservice/documents/createDocument"/>
            <wsdl:input>
                <soap:header message="easybill:UserAuthKeyMessage" part="HeaderAuthKey" use="literal"/>
                <soap:header message="easybill:UserAuthKeyMessage" part="UserAgent" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EasybillFault">
                <soap:fault name="EasybillFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="IllegalAccessFault">
                <soap:fault name="IllegalAccessFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="createReminder">
            <soap:operation soapAction="http://www.easybill.de/webservice/documents/createReminder"/>
            <wsdl:input>
                <soap:header message="easybill:UserAuthKeyMessage" part="HeaderAuthKey" use="literal"/>
                <soap:header message="easybill:UserAuthKeyMessage" part="UserAgent" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DocumentNotFoundFault">
                <soap:fault name="DocumentNotFoundFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="EasybillFault">
                <soap:fault name="EasybillFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="IllegalAccessFault">
                <soap:fault name="IllegalAccessFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="createDunning">
            <soap:operation soapAction="http://www.easybill.de/webservice/documents/createDunning"/>
            <wsdl:input>
                <soap:header message="easybill:UserAuthKeyMessage" part="HeaderAuthKey" use="literal"/>
                <soap:header message="easybill:UserAuthKeyMessage" part="UserAgent" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DocumentNotFoundFault">
                <soap:fault name="DocumentNotFoundFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="EasybillFault">
                <soap:fault name="EasybillFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="IllegalAccessFault">
                <soap:fault name="IllegalAccessFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getDocuments">
            <soap:operation soapAction="http://www.easybill.de/webservice/documents/getDocuments"/>
            <wsdl:input>
                <soap:header message="easybill:UserAuthKeyMessage" part="HeaderAuthKey" use="literal"/>
                <soap:header message="easybill:UserAuthKeyMessage" part="UserAgent" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CustomerNotFoundFault">
                <soap:fault name="CustomerNotFoundFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="EasybillFault">
                <soap:fault name="EasybillFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="IllegalAccessFault">
                <soap:fault name="IllegalAccessFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="findDocumentsByDocumentNumber">
            <soap:operation soapAction="http://www.easybill.de/webservice/documents/findDocumentsByDocumentNumber"/>
            <wsdl:input>
                <soap:header message="easybill:UserAuthKeyMessage" part="HeaderAuthKey" use="literal"/>
                <soap:header message="easybill:UserAuthKeyMessage" part="UserAgent" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EasybillFault">
                <soap:fault name="EasybillFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="IllegalAccessFault">
                <soap:fault name="IllegalAccessFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getDocument">
            <soap:operation soapAction="http://www.easybill.de/webservice/documents/getDocument"/>
            <wsdl:input>
                <soap:header message="easybill:UserAuthKeyMessage" part="HeaderAuthKey" use="literal"/>
                <soap:header message="easybill:UserAuthKeyMessage" part="UserAgent" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DocumentNotFoundFault">
                <soap:fault name="DocumentNotFoundFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="EasybillFault">
                <soap:fault name="EasybillFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="IllegalAccessFault">
                <soap:fault name="IllegalAccessFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getDocumentPDF">
            <soap:operation soapAction="http://www.easybill.de/webservice/documents/getDocumentPDF"/>
            <wsdl:input>
                <soap:header message="easybill:UserAuthKeyMessage" part="HeaderAuthKey" use="literal"/>
                <soap:header message="easybill:UserAuthKeyMessage" part="UserAgent" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DocumentNotFoundFault">
                <soap:fault name="DocumentNotFoundFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="EasybillFault">
                <soap:fault name="EasybillFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="IllegalAccessFault">
                <soap:fault name="IllegalAccessFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="toCancelDocument">
            <soap:operation soapAction="http://www.easybill.de/webservice/documents/toCancelDocument"/>
            <wsdl:input>
                <soap:header message="easybill:UserAuthKeyMessage" part="HeaderAuthKey" use="literal"/>
                <soap:header message="easybill:UserAuthKeyMessage" part="UserAgent" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DocumentNotFoundFault">
                <soap:fault name="DocumentNotFoundFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="EasybillFault">
                <soap:fault name="EasybillFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="IllegalAccessFault">
                <soap:fault name="IllegalAccessFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="toCreditDocument">
            <soap:operation soapAction="http://www.easybill.de/webservice/documents/toCreditDocument"/>
            <wsdl:input>
                <soap:header message="easybill:UserAuthKeyMessage" part="HeaderAuthKey" use="literal"/>
                <soap:header message="easybill:UserAuthKeyMessage" part="UserAgent" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DocumentNotFoundFault">
                <soap:fault name="DocumentNotFoundFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="EasybillFault">
                <soap:fault name="EasybillFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="IllegalAccessFault">
                <soap:fault name="IllegalAccessFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="addDocumentPayment">
            <soap:operation soapAction="http://www.easybill.de/webservice/payments/addDocumentPayment"/>
            <wsdl:input>
                <soap:header message="easybill:UserAuthKeyMessage" part="HeaderAuthKey" use="literal"/>
                <soap:header message="easybill:UserAuthKeyMessage" part="UserAgent" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DocumentNotFoundFault">
                <soap:fault name="DocumentNotFoundFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="EasybillFault">
                <soap:fault name="EasybillFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="IllegalAccessFault">
                <soap:fault name="IllegalAccessFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getDocumentPayments">
            <soap:operation soapAction="http://www.easybill.de/webservice/payments/getDocumentPayments"/>
            <wsdl:input>
                <soap:header message="easybill:UserAuthKeyMessage" part="HeaderAuthKey" use="literal"/>
                <soap:header message="easybill:UserAuthKeyMessage" part="UserAgent" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DocumentNotFoundFault">
                <soap:fault name="DocumentNotFoundFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="EasybillFault">
                <soap:fault name="EasybillFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="IllegalAccessFault">
                <soap:fault name="IllegalAccessFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getDocumentSent">
            <soap:operation soapAction="http://www.easybill.de/webservice/payments/getDocumentSent"/>
            <wsdl:input>
                <soap:header message="easybill:UserAuthKeyMessage" part="HeaderAuthKey" use="literal"/>
                <soap:header message="easybill:UserAuthKeyMessage" part="UserAgent" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DocumentNotFoundFault">
                <soap:fault name="DocumentNotFoundFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="EasybillFault">
                <soap:fault name="EasybillFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="IllegalAccessFault">
                <soap:fault name="IllegalAccessFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

    </wsdl:binding>
    <wsdl:service name="easybillService">
        <wsdl:port binding="easybill:easybillPortType" name="easybillPort">
            <soap:address location="https://soap2.easybill.de/webservices/webservice4/soap.easybill.php"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
